/* Ejemplo de hoja de estilo */
/* Estilo para la cabecera */

.titulo {
  background-color: green;
  padding: 30px;
  text-align: center;
  font-size: 120px;
  color: white;
  font-family:courier,arial,helvética;
}

hr{
  background-color: green;
  height: 3px;
}

.foto1{
  width: 200px;
  height: 150px;
  margin: 0px 0px;
}

.anuncio2{
  width: 250px;
  height: 550px;
  margin-left: : 10px;
  margin-top: 10px;
  position:absolute;
}

.informacion{
  background-color: rgba(142, 173, 6,0.2);
  color: black;
  background-color: rgb(255,255,255); opacity: 0.8;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
}

.introduccion{
  font-family:"Courier New";
  background-color:rgba(0, 255, 55,0.5);
  font-size:200%;
  margin-left: 30px;
  margin-top: 30px;
}

.botón{
  border-radius: 50%;
  background-color:red;
  color: red;
  background-color: red;
  box-shadow: 0 5px black;
  transform: translateY(4px);

}
.butón:hover {background-color: blue}

.botón: active{
  background-color: blue;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}


body {
  background-image: url("fondo campestre.jpg");
  background-size: cover;
  background-attachment: fixed;
}
