button{
  text-align: center;
  width: 155px;
  height: 75px;
  margin: 20px;
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 12px;
  background-color: #4E053C;
  border: #BA068E solid;
  color: #E603AE;
}
button:hover {
  box-shadow: 0px 0px 21px #FD7FE2;
}

button:active{
  background-color: #FD7FE2;
  box-shadow: 0 0 21px #FD7FE2;
  transform: translateY(4px);
}

.todo{
  background-color: #68365D;
  width: 600px;
  margin: 0 auto;
  padding-top: 0.1px;
  padding-bottom: 20px;
  border: #BA068E solid;
  border-radius: 50PX 50PX 50PX 50PX;
}

#test {
  border:0px;
}

#video_selecionado{
  padding: 0;
  margin: 39px;
}

video{
  margin: 14.5px;
}

body {
  background-image: url("fondo.jpg");
  background-size: cover;
  background-attachment: fixed;
}
